body{background:url(images/body.jpg) top repeat-x #000; color:#2c2c2c; font-size:12px; font-family:Tahoma, Geneva, sans-serif; padding:0px; margin:auto}
#header{ margin:auto; width:1000px; background:url(images/bghead.png) bottom no-repeat; height:140px}
#top{ width:100%; height:20px; background:#5d0000}
#topmenu{ float:right; width:600px}
#topmenu .boxmenu{ float:right; margin-left:18px; text-align:center; width:63px; height:92px; background:url(images/bg_topmenu.jpg); border-top:solid 4px #ffffff}
#topmenu .boxmenu:hover{background:#FFF; border-top:solid 4px #000; color:#000;}
#topmenu a{color:#FFF}
#topmenu a:hover{color:#000}
#btmenu{ margin:auto; width:998px; background:#806f64; height:100px; border:solid 1px #9d9a8d}
.input{ float:left; color:#b1b1b1; width:250px; background:url(images/bgs.jpg); border:none; height:29px;-moz-border-radius:7px 0px 0px 7px;-webkit-border-radius:7px 0px 0px 7px;border-radius:7px 0px 0px 7px;behavior:url(PIE.htc); outline:none }
.sm{ float:left; width:35px; height:31px; background:url(images/bgsm.jpg); border:none}

#home{ margin:auto; width:1000px; padding-top:10px;}
#main{ float:right; width:750px;}

#boxslide{ float:left; width:730px; height:300px; background:url(images/bgslide.jpg); padding:10px 10px 10px 10px}
#boxcategory{ float:left; width:200px; margin-top:30px; margin-right:75px}
#boxcategory .name{ float:left; width:200px; text-align:center; padding-bottom:10px;}
#boxcategory .name a{ color:#FFF; font-weight:bold; font-size:13px;}
#boxcategory .name a:hover{ color:#dd0000}
#boxcategory .image{ float:left; width:190px; height:110px; background:url(images/bgimag.jpg); padding:5px 5px 5px 5px}
#boxcategory .image:hover{background:#dd0000}
#boxcategory .image img{width:190px; height:110px; border:0px}
#boxcategory .cate2{ float:left; width:200px}
#boxcategory .cate2 ul{ list-style:none; margin:auto; padding:0px}
#boxcategory .cate2 ul li{ margin-top:10px;}
#boxcategory .cate2 ul li a{ color:#FFF; background:url(images/li.jpg) top left no-repeat; display:block; padding-left:15px}
#boxcategory .cate2 ul li a:hover{color:#dd0000; background:url(images/li_hover.jpg) top left no-repeat}



#left{ float:left; width:230px;}


#nameca{ float:left; width:229px; height:70px; background:url(images/bgca.png); text-align:center}
#nameca a{ display:block; color:#FFF; font-weight:bold; padding-top:26px}
#contentca{ float:left; width:227px; border:solid 1px #343434; border-top:none;  background:url(images/ct_ca.jpg);-moz-border-radius:0px 0px 7px 7px;-webkit-border-radius:0px 0px 7px 7px;border-radius:0px 0px 7px 7px;behavior:url(PIE.htc);}
#contentca .cttop{ width:227px; float:left; background:url(images/ct_topca.jpg) top no-repeat; 
}
#contentca .content{ margin:auto; width:180px; padding-bottom:10px}
#contentca .content ul{ margin:auto; padding:0px; list-style:none}
#contentca .content ul li{ margin-top:5px; border-top:dashed 1px #4c4c4c; padding-top:10px; padding-bottom:5px}
#contentca .content ul li a{ color:#FFF; font-size:13px; background:url(images/li_a_left.png) left top no-repeat; padding-left:20px; padding-top:2px}
#contentca .content ul li a:hover{}


#namehot{ float:left; width:229px; height:75px; background:url(images/ca_hotp.png); text-align:center}
#namehot a{ display:block; color:#FFF; font-weight:bold; padding-top:30px}
#contenthot{ float:left; width:227px; border:solid 1px #343434; border-top:none;  background:url(images/cth.jpg);-moz-border-radius:0px 0px 7px 7px;-webkit-border-radius:0px 0px 7px 7px;border-radius:0px 0px 7px 7px;behavior:url(PIE.htc);}
#contenthot .cttop{ width:227px;  float:left; background:url(images/toph.jpg) top no-repeat; 
}
#contenthot .content{ margin:auto; width:220px; }
#contenthot .content img{ border:solid 1px #000}
#contenthot .content img:hover{border:solid 1px #FFF}

#news_product{ float:left; width:970px; background:url(images/bgp.jpg);-moz-border-radius:7px 7px 7px 7px;-webkit-border-radius:7px 7px 7px 7px;border-radius:7px 7px 7px 7px;behavior:url(PIE.htc); padding:15px 15px 15px 15px}
#boxnewsp{ float:left; width:190px; margin-right:70px; margin-top:20px}
#boxnewsp .title{ float:left; width:190px; text-align:center; height:25px;}
#boxnewsp .title a{ color:#ad0000}
#boxnewsp .image{ float:left; border:solid 1px #CCC; background:#FFF; padding:5px 5px 5px 5px; height:110px; width:178px}
#boxnewsp .image img{border:none; width:178px; height:110px}
#boxnewsp .image:hover{background:#666; border:solid 1px #FFF}
#boxnewsp .bong{float:left; width:180px; background:url(images/bong.jpg) center; height:9px}
#boxnewsp .cart{ float:left; width:180px;}


#captionnews{ float:left; width:740px; border-bottom:solid 2px #12ac3a; margin-top:10px; color:#333}
#contentnews{ float:left; width:740px; padding-top:10px}
#ft{ width:100%; padding-bottom:10px; border-top:solid 2px #3a3a3a; border-bottom:solid 2px #000; background:url(images/bgf.jpg) top repeat-x #1c1c1c; margin-top:10px; }
#ft .left{ float:left; width:550px;}
#ft .left ul{ margin:auto; padding:0px; list-style:none}
#ft .left ul li{ float:left; padding-left:5px; padding-right:5px}
#ft .left ul li a{ color:#003687}
#ft .right{ float:right; width:400px; text-align:right; color:#003687}
a{ text-decoration:none}
a:hover{text-decoration:underline}
